.main__games {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;

  @media screen and (max-width: $mobile) {
    flex-direction: column;
    align-items: center;
  }
}

.main__games-audio,
.main__games-sprint {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 40vh;
  padding: 3rem 2rem;
  border-radius: 1.8rem;
  text-align: center;
  color: $color-black;
  font-weight: 500;
  font-size: 1.5rem;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 20%);

  @media screen and (max-width: $mobile) {
    width: 80%;
    padding: 2rem 1rem;
    font-size: 1rem;
  }
}

.game-audio__title,
.game-sprint__title {
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 3px;
  text-transform: capitalize;
  font-family: "Gilroy";

  @media screen and (max-width: $mobile) {
    font-size: 1.5rem;
  }
}

.game-audio__play,
.game-sprint__play {
  margin: 1rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: capitalize;
  border-radius: 10px;
  border: none;
  background: $color-green;
  cursor: pointer;
}

.game-audio__play:hover,
.game-sprint__play:hover {
  background: $color-blue;
  color: $color-white;
}
