.authentication {
  width: 400px;
}

.auth-form {
  @include flex(flex-start, stretch, column);
  gap: 1rem;
}

.auth-form__title {
  align-self: center;
}

.auth-form__fields {
  @include flex(flex-start, stretch, column);
  gap: 1rem;
}

.auth-form__error {
  text-align: center;
  color: $color-red;
}

.auth-form__btn {
  text-align: center;
}

.auth-form__link {
  font-size: 0.875rem;
  align-self: center;
  text-decoration: none;
  color: $color-grey;

  &:hover {
    text-decoration: underline;
  }
}