.main__games__audio-challange-levels,
.main__games__sprint-levels {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 400px;
}

.main__games__audio-challange-levels__head,
.main__games__sprint-levels__head {
  font-size: 4rem;
  color: #16AEE8;
  text-decoration: underline;
}

.main__games__audio-challange-levels__title,
.main__games__sprint-levels__title {
  font-size: 2rem;
  color: #FF8C0E;
}

.main__games__audio-challange-levels__container,
.main__games__sprint-levels__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
}

.main__games__audio-challange-levels-group,
.main__games__sprint-levels-group {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 1.5rem;
  border-radius: 50%;
  background-color: #A63E00;
  box-shadow: 10px 10px 10px -5px rgba(34, 60, 80, 0.55);
  cursor: pointer;
}

.main__games__audio-challange-levels-group:hover,
.main__games__sprint-levels-group:hover {
  transform: scale(1.5);
  transition: 0.4s;
}

.main__games__audio-challange-levels__back,
.main__games__sprint-levels__back {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 120px;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 1.2rem;
  background-color: #A63E00;
  box-shadow: 10px 10px 10px -5px rgba(34, 60, 80, 0.55);
  cursor: pointer;
}


.lvl-1 {
  background: #4fc7ff50
}

.lvl-2 {
  background: #4fc7ff60
}

.lvl-3 {
  background: #4fc7ff70
}

.lvl-4 {
  background: #4fc7ff80
}

.lvl-5 {
  background: #4fc7ff90
}

.lvl-6 {
  background: #4fc7ff
}

.main__games__wrapper {
  width: 100%;
}

.main__games__audio-challange {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main__games__audio-challange-img {
  width: 390px;
  height: 260px;
  background-color: #e7e7e7;
  border-radius: 2rem;
}

.sprint__button-sound,
.main__games__audio-challange-buttonSound {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: no-repeat center url('assets/svg/sound.svg');
  background-color: #16AEE8;
  box-shadow: 10px 10px 10px -5px rgba(34, 60, 80, 0.55);
  cursor: pointer;
}

.sprint__button-sound:hover,
.main__games__audio-challange-levels__button:hover,
.main__games__audio-challange-buttonSound:hover,
.main__games__audio-challange-buttonSkip:hover,
.main__games__audio-challange-buttonNext:hover,
.main__games__audio-challange__buttonAnswer:hover {
  transform: translateY(-3px);
  transition: 0.4s;
  box-shadow: 10px 10px 10px 0px rgba(34, 60, 80, 0.55);
}

.sprint__button-sound:active,
.main__games__audio-challange-levels__button:active,
.main__games__audio-challange-buttonSound:active,
.main__games__audio-challange-buttonSkip:active,
.main__games__audio-challange-buttonNext:active,
.main__games__audio-challange__buttonAnswer:active {
  transform: translateY(5px);
  transition: 0.1s;
  box-shadow: 0px 0px 0px 0px rgba(34, 60, 80, 0.55);
}


.main__games__audio-challange-buttonSkip {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  font-size: 1.7rem;
  border-radius: 10px;
  background-color: #FF8C0E;
  box-shadow: 10px 10px 10px -5px rgba(34, 60, 80, 0.55);
  cursor: pointer;
}

.main__games__audio-challange-buttonNext {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  font-size: 1.7rem;
  border-radius: 10px;
  background-color: #48F789;
  box-shadow: 10px 10px 10px -5px rgba(34, 60, 80, 0.55);
  cursor: pointer;
}

.main__games__audio-challange__answerBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.main__games__audio-challange__buttonAnswer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 80px;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 10px;
  background-color: #16b0e8;
  box-shadow: 10px 10px 10px -5px rgba(34, 60, 80, 0.55);
  cursor: pointer;
}

.main__games__audio-challange__buttonAnswer[data-answer='yes'] {
  font-size: 1.3rem;
  background-color: #48F789;
  transform: scale(1.5);
  transition: 0.1s;
}

.main__games__audio-challange__buttonAnswer[data-answer='yes'] > p {
  margin: 0;
}

.main__games__audio-challange__buttonAnswer[data-answer='yes'] > p:last-child {
  font-style: italic;
}

.main__games__audio-challange__buttonAnswer[data-answer='no'] {
  background-color: #FF0000;
}

.main__games__audio-challange__containerPanel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  width: 100%;
}

.main__games__audio-challange__containerPanel-counter {
  font-size: 2rem;
}

.result {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
}

.result__title {
  margin-bottom: 25px;
  font-size: 4rem;
  text-align: center;
  text-decoration: underline;
  color: #16AEE8;
}

.result__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.result__statistic-box {
  display: flex;
  flex-direction: column;
}

.result__accuracy,
.result__accuracyNum {
  align-self: center;
  font-weight: 400;
  font-size: 4rem;
  color: #FF8C0E;
}

.result__accuracyNum {
  margin-bottom: 30px;
}

.result__correct,
.result__in-row,
.result__wrong {
  margin-bottom: 10px;
  align-self: center;
  font-weight: 600;
  font-size: 1.6rem;
}

.result-answer,
.result-wrong {
  display: flex;
  flex-direction: column;
}

.result-answer__plus,
.result-wrong__minus {
  width: 35px;
  height: 35px;
  align-self: center;
}

.result-answer__plus {
  background-image: url(assets/svg/success.svg);
}

.result-wrong__minus {
  background-image: url(assets/svg/wrong.svg);
}

.result-answer__name,
.result-wrong__name {
  align-self: center;
}

.result-answer__container,
.result-wrong__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  font-size: 1.5rem;
}

.result__sound-wrong,
.result__sound-answer {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border-radius: 2px;
  background-color: #16AEE8;
  background-image: url(assets/svg/speaker.svg);
}

.result__sound-wrong:hover,
.result__sound-answer:hover {
  background-color: #67E667;
}

.result__sound-wrong:active,
.result__sound-answer:active {
  background-color: #67E667;
  transform: scale(0.8);
}

.result__translate {
  font-style: italic;
  font-size: 1.2rem;
}

.result__word {
  margin-right: 5px;
}
