/*-----------Game-Audio-levels--------------------------*/

.main__games__audio-challange-levels,
.main__games__sprint-levels {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 400px;
}

.main__games__audio-challange-levels__head,
.main__games__sprint-levels__head {
  font-family: "Gilroy";
  text-transform: uppercase;
  font-size: 3rem;

  @media screen and (max-width: $mobile) {
    font-size: 2rem;
  }
}

.main__games__audio-challange-levels__title,
.main__games__sprint-levels__title {
  font-size: 2rem;

  @media screen and (max-width: $mobile) {
    font-size: 1.5rem;
  }
}

.main__games__audio-challange-levels__container,
.main__games__sprint-levels__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  @media screen and (max-width: $mobile) {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center
  }
}

.main__games__audio-challange-levels-group,
.main__games__sprint-levels-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 60px;
  width: 60px;
  font-weight: 800;
  font-size: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;

  @media screen and (max-width: $mobile) {
    height: 40px;
    width: 40px;
    font-size: 1rem;
  }
}

.main__games__audio-challange-levels-group:hover,
.main__games__sprint-levels-group:hover {
  background-color: $color-grey;
  color: $color-white;
}

.main__games__audio-challange-levels__back,
.main__games__sprint-levels__back {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 120px;
  font-weight: 900;
  font-size: 1.2rem;
  background-color: #A63E00;
  box-shadow: 10px 10px 10px -5px rgba(34, 60, 80, 0.55);
  cursor: pointer;
}


.lvl-1 {
  background: $color-level-a1;
}

.lvl-2 {
  background: $color-level-a2;
}

.lvl-3 {
  background: $color-level-b1;
}

.lvl-4 {
  background: $color-level-b2;
}

.lvl-5 {
  background: $color-level-c1;
}

.lvl-6 {
  background: $color-level-c2;
}


/*-----------Game-Audio--------------------------*/

.main__games__audio-challange {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 1rem;
  flex-grow: 1;
}

.main__games__audio-challange-img {
  width: 300px;
  height: 200px;
  object-fit: contain;
  margin: 1rem;
  border-radius: 1rem;

  @media screen and (max-width: $mobile) {
    width: 80%;
  }
}

.sprint__button-sound,
.main__games__audio-challange-buttonSound {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: no-repeat center url('assets/svg/sound.svg');
  background-color: $color-green;
  cursor: pointer;
}

.sprint__button-sound:hover,
.main__games__audio-challange-levels__button:hover,
.main__games__audio-challange-buttonSound:hover,
.main__games__audio-challange-buttonSkip:hover,
.main__games__audio-challange-buttonNext:hover,
.main__games__audio-challange__buttonAnswer:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.sprint__button-sound:active,
.main__games__audio-challange-levels__button:active,
.main__games__audio-challange-buttonSound:active,
.main__games__audio-challange-buttonSkip:active,
.main__games__audio-challange-buttonNext:active,
.main__games__audio-challange__buttonAnswer:active {
  transform: scale(1.1);
  transition: 0.3s;
}


.main__games__audio-challange-buttonSkip {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  background-color: $color-green;
  cursor: pointer;
}

.main__games__audio-challange-buttonNext {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  background-color: $color-green;
  cursor: pointer;
}

.main__games__audio-challange__answerBox {
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  width: 100%;

  @media screen and (max-width: $mobile) {
    flex-direction: column;
  }
}

.main__games__audio-challange__buttonAnswer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 50px;
  font-size: 1rem;
  text-align: center;
  border-radius: 10px;
  background-color: $color-blue;
  gap: 0.5rem;
  cursor: pointer;

  @media screen and (max-width: $mobile) {
    flex-direction: row;
  }
}

.main__games__audio-challange__buttonAnswer[data-answer='yes'] {
  font-size: 1rem;
  background-color: $color-green;
  transition: 0.2s;
}

.main__games__audio-challange__buttonAnswer[data-answer='no'] {
  background-color:  $color-red;
}

.main__games__audio-challange__containerPanel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  width: 100%;
}

.main__games__audio-challange__containerPanel-buttonVolume {
  width: 30px;
  height: 30px;
  background: no-repeat center url('assets/svg/volume.svg');
  cursor: pointer;
}

.main__games__audio-challange__containerPanel-buttonVolume:hover {
  transform: scale(1.5);
  transition: 0.4s;
}

.main__games__audio-challange__containerPanel-counter {
  font-size: 1.5rem;
}

.main__games__audio-challange__containerPanel-fullScreen {
  width: 30px;
  height: 30px;
  background: no-repeat center url('assets/svg/maximize.svg');
  cursor: pointer;
}

.main__games__audio-challange__containerPanel-fullScreen:hover {
  transform: scale(1.5);
  transition: 0.4s;
}

/*------------------------Game-Audio-result--------------------------*/

.result {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100vh;
}

.result__title {
  margin: 0 auto 1rem;
  font-size: 2rem;
  text-align: center;
}

.result__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}

.result__statistic-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-self: center;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  gap: 1rem;

  @media screen and (max-width: $mobile) {
    flex-direction: column;
    align-items: center;
  }
}

.result-answer,
.result-wrong {
  display: flex;
  flex-direction: column;
  width: 45%;
  background-color: $color-grey-xl;
  border-radius: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;

  @media screen and (max-width: $mobile) {
    width: 100%;
  }
}

.result-answer__plus,
.result-wrong__minus {
  width: 25px;
  height: 25px;
  align-self: center;
  background-repeat: no-repeat;

}

.result-answer__plus {
  background-image: url(assets/svg/success.svg);
}

.result-wrong__minus {
  background-image: url(assets/svg/wrong.svg);
}

.result-answer__name,
.result-wrong__name {
  align-self: center;
  font-size: 1.2rem;
  margin: 1rem 0;
}

.result-answer__container,
.result-wrong__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1rem;
}

.result__sound-wrong,
.result__sound-answer {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
  border-radius: 25%;
  background-image: url(assets/svg/speaker.svg);
  cursor: pointer;
}

.result__sound-wrong:hover,
.result__sound-answer:hover {
  background-color: $color-grey;
}

.result__sound-wrong:active,
.result__sound-answer:active {
  transform: scale(0.8);
}

.result__word {
  margin-right: 5px;
}
