.sprint {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sprint__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sprint__title {
  font-size: 6rem;
}

.sprint__score {
  font-size: 6rem;
}

.sprint__card-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  height: 400px;
  background-color: #8b7ee17e;
  border-radius: 25px;
}

.sprint__panel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5%;
  width: 150px;
}

.mark {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fd0000;
}

.sprint__img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: 'Kalam';
  font-size: 4rem;
}

.sprint__word {
  margin-top: 5%;
  font-size: 2rem;
}

.sprint__translate {
  margin-top: 5%;
}

.sprint__buttons-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sprint__button-false {
  background-color: #fd0000;
  width: 110px;
  height: 50px;
  border-radius: 5px;
}

.sprint__button-true {
  background-color: #08aa05;
  width: 110px;
  height: 50px;
  border-radius: 5px;
}