html {  
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  box-sizing: inherit;
  font-family: "Open Sans";
}

.main {
  padding-top: 100px;
  flex-grow: 1;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  padding: 10px;
}
