$color-white:  #FFFFFF;
$color-grey: #7e919f;
$color-grey-l: #dfdfdf;
$color-grey-xl: #ededed;
$color-black: #000000;
$color-black-l: #37383c;
$color-black-xl: #969696;
$color-blue: #16b0e8;
$background-book-element: #e7e7e7;
$background-book-element-hover: #ff9999;
$dark-grey: #8f8e8e;
$secondary-grey: #c9c9c9;
$yellow-vocabulary: #FFC53D;
$color-green: #74fea4;
$color-green-dark: #37c769;
$color-red: #de2100;
$color-yellow: #FFC53D;

$tablet: 1024px;
$mobile: 767px;