@import "src/scss/variables";

.words {
  &__header {
    margin: 1rem 0;
    font-family: Fira Sans, sans-serif;
    font-size: 2rem;
    width: 100%;
  }
}

.dictionary {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__value {
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    gap: 1rem;
  }

  &__description {
    width: 45%;
    background-color: $background-book-element;
    border-radius: 7rem 0.2rem 0.5rem 0.5rem;
  }
}

.word {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 180px;
  height: 100px;
  border-radius: 0.5rem;
  background-color: $background-book-element;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.5s;

  &:hover {
    color: $color-white;
    background-color: $color-blue;
    transition: all 0.3s;
  }
  &__english {
    margin: 0;
    font-size: 1.3rem;
    font-weight: bold;
  }
  &__russian {
    margin: 0;
    font-size: 1rem;
  }
}

.hard-word {
  border: 3px solid $color-red;
}

.learned-word {
  border: 3px solid $color-green;
}

.learned-words-background {
  padding: 0.5rem;
  margin-top: 1rem;
  background: radial-gradient(ellipse farthest-corner at right bottom, #fedb37 0%, #FDB931 8%, #9f7928 30%, #8a6e2f 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #ffffff 0%, #ffffac 8%, #d1b464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  border-radius: 0.5rem;
}

.content {
  border-radius: 7rem 0.2rem 0.2rem 0.2rem;

  &__image {
    width: 100%;
    max-height: 400px;
    border-radius: 7rem 0.2rem;
  }

  &__word {
    margin: 0.5rem 0;
    padding: 0 1rem;
    font-weight: bold;
    font-size: 2rem;
  }

  &__word-translate {
    margin: 0.5rem 0;
    padding: 0 1rem;
    font-size: 1.5rem;
  }

  .transcription {
    display: flex;
    padding: 0 1rem;

    &__value {
      font-size: 1.2rem;
      margin: 0.5rem 0;
    }

    &__play {
      width: 2.5rem;
      height: 2.5rem;
      padding: 0.5rem;
      margin-left: 1rem;
      border-radius: 1rem;
      cursor: pointer;

      &:hover {
        background-color: $color-black-xl;
      }
    }
  }

  &__header {
    margin: 0 0 1rem 0;
    padding: 0 1rem;
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__text {
    margin: 0 0 0.8rem 0;
    padding: 0 1rem;
    font-size: 1rem;
  }
}

.word-background {
  color: $color-white;
  background-color: $color-blue;
}
