@import "src/scss/variables";

.games {
  &__header {
    margin: 1rem 0;
    font-family: Fira Sans, sans-serif;
    font-size: 2rem;
    width: 100%;
  }

  &__description {
    color: $color-black-l;
    margin: 0.5rem 0 1rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

  }
}

.links {
  display: flex;
  position: relative;
  gap: 2rem;

  &__unactive {
    position: absolute;
    opacity: 0.1;
    width: 435px;
    height: 250px;
    z-index: 1;
  }

  &__audio-challenge,
  &__sprint{
    // position: relative;
    margin-top: 3rem;
    border-radius: 0.5rem;
    color: $color-blue;

    // box-shadow: 0  0  10px  #8f8e8e;
    &:hover{
      cursor: pointer;
      // box-shadow: 10px  10px  10px  #8f8e8e;
    }
  }

  // &__audio-challenge:before {
  //   content: 'Audio challenge';
  //   position: absolute;
  //   top: -2rem;
  //   left: 1.8rem;
  //   font-size: 1.3rem;
  // }

  // &__sprint:before {
  //   content: 'Sprint';
  //   position: absolute;
  //   top: -2rem;
  //   left: 4.1rem;
  //   font-size: 1.3rem;
  // }

  // &__img {
  //   width: 200px;
  //   height: 200px;
  //   border-radius: 0.5rem;
  // }
}
