@import "src/scss/variables";

.levels-header {
  margin: 0.5rem 0 1rem;
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
}

.levels {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.level {
  width: 15%;
  display: flex;
  min-width: 150px;
  padding: 0.5rem 0 0.5rem 0.5rem;
  background-color: $background-book-element;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s;

  &:hover &__name {
    color: $color-black;
  }

  &.permanent-a1  &__name, 
  &.permanent-a2  &__name, 
  &.permanent-b1  &__name, 
  &.permanent-b2  &__name, 
  &.permanent-c1  &__name, 
  &.permanent-c2  &__name {
    color: $color-black;
  }

  &__name {
    width: 100%;
    color: $color-grey;
  }

  &__header {
    margin: 0;
    font-size: 1.3rem;
    font-weight: bold;


  }
  &__word-number {
    margin: 0;
    font-size: 0.8rem;
    text-align: left;
  }

  &__value {
    margin: 0;
    font-size: 1.3rem;
    padding: 0.5rem 0 0.5rem 0.5rem;
    background-color: $color-black-xl;
    border-radius: 4rem 0.5rem 0.5rem 4rem;
    align-self: center;
    text-align: right;
  }
}

.hover-a1,
.permanent-a1 .level__value  {
  background-color: #b5f8cb;
}

.hover-a2,
.permanent-a2 .level__value {
  background-color: #96ebb3;
}

.hover-b1,
.permanent-b1 .level__value {
  background-color: #70d794;
}

.hover-b2,
.permanent-b2 .level__value {
  background-color: #4dbb73;
}

.hover-c1,
.permanent-c1 .level__value {
  background-color: #34a95d;
}

.hover-c2,
.permanent-c2 .level__value {
  background-color: #0f8739;
}
